- @page_title = @server.name

%p#notice
  - notice

%p= @server.description
- @categories.each do |category|
  %ul{"data-role" => "listview", "data-inset" => "true", "data-theme" => "#{h jqmobile_theme('data')}", "data-counttheme" => "#{h jqmobile_theme('data-count')}", "data-dividertheme" => "#{h jqmobile_theme('data-divider')}"}
    %li{"data-role" => "list-divider"}= category.name
    - category.tasks.each do |task|
      %li{"data-role" => "option"}= link_to task.name, servers_path

%p= link_to 'Edit', edit_server_path(@server)
%p= link_to 'Back', servers_path
